
body {
  margin: 0;
  min-width: 250px;
  background-color: #000000;

}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  margin: auto;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}
/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  width: 45%;
  border-radius: 8px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #E9A6A6;
}

/* Darker background-color on hover */
ul li:hover {
  background: #864879;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #171817;
  color: rgba(255, 255, 255, 0);
}

/* Style the header */

.header {

  padding: 40px 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 1em;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;

}
#myInput{
  background-color: #864879;
  text-align: center;
}
/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 8pt;
  width: 60%;
  padding: 10px;
  float: left;
  font-size: 20px;
  margin-left: 260px;
  background-color: #eee;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 20%;
  color: #8E05C2;
  float: left;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;




}

.addBtn:hover {
color: #a9a9a9;
}

#clear-list{
  width: 10%;
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
  font-family: "Times New Roman";
  margin: 50px 35%;
  background-color: #4C0070;
  color: white;
  margin-left: 700px;
  border-radius: 8pt;
}
#clear-list:hover{
  background-color: #160040;
  color: white;
}
